@model Accion

<form id="FormFilter" asp-action="@Model.accion" method="post">
    <div class="row fw-bold">
        @*<label class="form-label">Tipos</label>
        <div class="col col-12">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Opcion" id="inlineRadio1"
                       value="1" @(ViewBag.Opcion == 1 ? "checked":"")>
                <label class="form-check-label" for="inlineRadio1">Solicitado</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Opcion" id="inlineRadio2"
                       value="2" @(ViewBag.Opcion == 2 ? "checked":"")>
                <label class="form-check-label" for="inlineRadio2">Salida</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Opcion" id="inlineRadio3"
                       value="3" @(ViewBag.Opcion == 3 ? "checked":"")>
                <label class="form-check-label" for="inlineRadio3">Llegada</label>
            </div>
        </div>
        <div class="col col-12">
            
        </div>*@
        <div class="col col-12">
            <label for="inputSolicitado" class="form-label">Solicitado por</label>
            <select id="inputSolicitado" class="form-select" name="IdSolicitado" asp-items="ViewBag.IdSolicitado">
                <option value="-1">Todos los usuarios</option>
            </select>
        </div>
        <div class="col col-12">
            <label for="inputEstado" class="form-label">Estado</label>
            <select id="inputEstado" class="form-select" name="Estado" asp-items="ViewBag.Estado">
                <option value="-1">Todos los estados</option>
            </select>
        </div>
        <div class="col col-12">
            <label for="inputVehiculo" class="form-label">Vehículo</label>
            <select id="inputVehiculo" class="form-select" name="Vehiculo" asp-items="ViewBag.Vehiculo">
                <option value="">Todos los vehículos</option>
            </select>
        </div>
        <div class="col col-12">
            <label for="inputDestino" class="form-label">Destino</label>
            <select id="inputDestino" class="form-select" name="Destino" asp-items="ViewBag.Destino">
                <option value="">Todos los destinos</option>
            </select>
        </div>
        <div class="col col-6 d-grid gap-2 mt-2">
            <button type="submit" class="btn btn-primary">Filtrar solicitudes</button>
        </div>
        <div class="col col-6 d-grid gap-2 mt-2">
            <a role="button" class="btn btn-secondary" asp-action="@Model.accion">Quitar filtro</a>
        </div>
    </div>
</form>