@using System.Globalization
@model ProyectoSolveCore.Models.ViewModels.vmMasInformacionSolicitud
@{
    var s = Model.solicitud;
    string estado = string.Empty;
    string border = string.Empty;
    bool isnullmotivo = false;
    if (s.Aprobaciones.FirstOrDefault(a => a.IdSolicitud == s.Id) != null)
    {
        isnullmotivo = string.IsNullOrEmpty(s.Aprobaciones.FirstOrDefault(a => a.IdSolicitud == s.Id).Motivo);
    }

    CultureInfo idioma = new CultureInfo("es-CL");

    switch (s.Estado)
    {
        case 0:
            estado = "Pendiente";
            border = "pendiente text-secondary";
            break;
        case 1:
            estado = "Aprobada";
            border = "aprobada text-success";
            break;
        case 2:
            estado = "Rechazada";
            border = "rechazada text-danger";
            break;
        case 3:
            estado = "Finalizada";
            border = "finalizada text-primary";
            break;
    }
}
<div class="modal-dialog modal-lg">
    <div class="modal-content fw-bold">
        <div class="modal-header text-bg-primary">
            <h5 class="modal-title" id="exampleModalLabel">Ficha de la solicitud</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form_RechazarSolicitud">
            <div class="modal-body row g-2">
                <div class="col col-lg-4 col-md-12">
                    <label for="inputFechaSolicitado" class="form-label">Fecha solicitada</label>
                    <input type="text" class="form-control" id="inputFechaSolicitado"
                           value="@(s.FechaSolicitado.ToString("dddd d MMMM yyyy H:mm:ss", idioma))" disabled>
                </div>
                <div class="col col-lg-4 col-sm-12">
                    <label for="inputFechaLlegada" class="form-label">Fecha de salida</label>
                    <input type="text" class="form-control" id="inputFechaLlegada"
                           value="@(s.FechaSalida.ToString("dddd d MMMM yyyy H:mm", idioma)) Hrs" disabled>
                </div>
                <div class="col col-lg-4 col-sm-12">
                    <label for="inputFechaLlegada" class="form-label">Fecha de llegada</label>
                    <input type="text" class="form-control" id="inputFechaLlegada"
                           value="@(s.FechaLlegada.ToString("dddd d MMMM yyyy H:mm", idioma)) Hrs" disabled>
                </div>
                <div class="col col-md-6">
                    <label for="inputSolicitante" class="form-label">Nombre del solicitante</label>
                    <input type="text" class="form-control" id="inputSolicitante"
                           value="@s.IdSolicitanteNavigation.Nombre @s.IdSolicitanteNavigation.Apellido" disabled>
                </div>
                <div class="col col-md-6">
                    <label for="inputEstado" class="form-label">Estado</label>
                    <input type="text" class="form-control @border" id="inputEstado" value="@estado" disabled>
                </div>
                <div class="col col-12 @(s.Estado == 0 || s.Estado == 1 || s.Estado == 3 ? "visually-hidden" : string.Empty)">
                    <label for="inputMotivoAprob" class="form-label">Motivo del rechazo de la solicitud</label>
                    <textarea type="text" cols="2" class="form-control" id="inputMotivoAprob" disabled>@(isnullmotivo ? "Sin motivo" : s.Aprobaciones.FirstOrDefault(a => a.IdSolicitud == s.Id).Motivo)</textarea>
                </div>
                <div class="col col-md-6">
                    <label for="inputConductor" class="form-label">Conductor</label>
                    <input type="text" class="form-control" id="inputConductor"
                           value="@(s.IdConductor.HasValue
                            ? $"{s.IdConductorNavigation.IdUsuarioNavigation.Nombre} {s.IdConductorNavigation.IdUsuarioNavigation.Apellido}"
                            : Html.Raw("Sin conductor asignado"))" disabled>
                </div>
                <div class="col col-md-6">
                    <label for="inputVehiculo" class="form-label">Vehículo</label>
                    <input type="text" class="form-control" id="inputVehiculo"
                           value="@s.IdVehiculoNavigation.Patente - @s.IdVehiculoNavigation.Marca @s.IdVehiculoNavigation.Modelo" disabled>
                </div>
                <div class="col col-md-10">
                    <label for="inputPasajeros" class="form-label">Pasajeros</label>
                    <input type="text" class="form-control" id="inputPasajeros"
                           value="@s.Pasajeros" disabled>
                </div>
                <div class="col col-md-2">
                    <label for="inputNumeroPasajeros" class="form-label">N° Pasajeros</label>
                    <input type="text" class="form-control" id="inputNumeroPasajeros"
                           value="@s.NumeroPasajeros" disabled>
                </div>
                <div class="col col-md-4">
                    <label for="inputDestino" class="form-label">Destino</label>
                    <input type="text" class="form-control" id="inputDestino"
                           value="@s.Destino" disabled>
                </div>
                <div class="col col-md-8">
                    <label for="inputMotivo" class="form-label">Motivo del viaje</label>
                    <input type="text" class="form-control" id="inputMotivo"
                           value="@s.Motivo" disabled>
                </div>
            </div>
            @if (Model.aprobacion){
                <div class="modal-footer d-flex justify-content-center">
                    <button id="btn_aprobarModal" type="button" class="btn btn-success" data-id="@s.Id">
                        <i class="fa-sharp fa-thumbs-up fa-sm"></i>
                        Aprobar solicitud
                    </button>
                    <button id="btn_rechazarModal" type="button" class="btn btn-danger" data-id="@s.Id">
                        <i class="fa-sharp fa-thumbs-down fa-sm"></i>
                        Rechazar solicitud
                    </button>
                </div>
            }
        </form>
    </div>
</div>
<script type="text/javascript">
    if (document.getElementById('btn_aprobarModal') || document.getElementById('btn_rechazarModal')) {
        var btn_aprobarModal = document.getElementById('btn_aprobarModal');
        var btn_rechazarModal = document.getElementById('btn_rechazarModal');

        btn_aprobarModal.addEventListener('click', function () {
            var id = btn_aprobarModal.dataset.id;
            $.ajax({
                url: '/Solicitud/AsignarConductor?id=' + id,
                type: 'GET',
                success: function (result) {
                    abrirModal(result);
                },
                error: function (xhr, error) {
                    console.log(error);
                }
            });
        });
        btn_rechazarModal.addEventListener('click', function () {
            var id = btn_rechazarModal.dataset.id;
            $.ajax({
                url: '/Solicitud/ConfirmacionRechazar?id=' + id,
                type: 'GET',
                success: function (result) {
                    abrirModal(result);
                },
                error: function (status, error) {
                    console.log(status, error);
                }
            });
        });
    }    
</script>