@using ProyectoSolveCore.Models;
@model List<Solicitude>
@{
    ViewBag.Title = "Visualizar solicitudes";
}
<partial name="_NavMenu" />
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Visualizar solicitudes</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Agenda">Agenda general</a></li>
                <li class="breadcrumb-item active">Visualizar solicitudes</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="btn-group dropend">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" 
                            data-bs-auto-close="inside" aria-expanded="false">
                            Filtros
                        </button>
                        <div class="dropdown-menu p-4 fw-bold" style="width: 550px; max-height: 700px">
                            <partial name="_FiltersSolicitud" model='new Accion{accion = " VisualizarSolicitudes"}' />
                        </div>
                    </div>
                    <table id="tableSolicitudes" class="display table table-hover">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" style="width:10%;">Solicitado</th>
                                <th scope="col" style="width:10%;">Salida</th>
                                <th scope="col" style="width:10%;">Llegada</th>
                                <th scope="col" style="width:20%;">Vehiculo</th>
                                <th scope="col" style="width:10%;">Destino</th>
                                <th scope="col" style="width:25%;">Motivo</th>
                                <th scope="col">Estado</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model)
                            {
                                var a = s.Aprobaciones.FirstOrDefault(a => s.Id == a.IdSolicitud);
                                <tr>
                                    <td>@s.FechaSolicitado</td>
                                    <td>@s.FechaSalida</td>
                                    <td>@s.FechaLlegada</td>
                                    <td>@s.IdVehiculoNavigation.Patente - @s.IdVehiculoNavigation.Marca @s.IdVehiculoNavigation.Modelo</td>
                                    <td>@s.Destino</td>
                                    <td>@s.Motivo</td>
                                    <td data-order="@s.Estado">
                                        @switch (s.Estado)
                                        {
                                            case 0:
                                                <button type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-title="Pendiente" data-id="@s.Id"
                                                class="btn btn-link">
                                                    <span class="badge bg-secondary fs-6"><i class="fa-solid fa-clock fa-xs me-1"></i></span>
                                                    <span class="visually-hidden">Pendiente</span>
                                                </button>
                                                break;
                                            case 1:
                                                <button type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-title="Aprobada" data-id="@s.Id"
                                                class="btn btn-link">
                                                    <span class="badge bg-success fs-6"><i class="fa-solid fa-circle-check fa-xs me-1"></i></span>
                                                    <span class="visually-hidden">Aprobada</span>
                                                </button>
                                                break;
                                            case 2:
                                                <button type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-title="@(!string.IsNullOrEmpty(a.Motivo)?a.Motivo:"Sin motivo")" 
                                                data-id="@s.Id" class="btn btn-link">
                                                    <span class="badge bg-danger fs-6"><i class="fa-solid fa-circle-xmark fa-xs me-1"></i></span>
                                                    <span class="visually-hidden">Rechazada</span>
                                                </button>
                                                break;
                                            case 3:
                                                <button type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-title="Finalizada" data-id="@s.Id" class="btn btn-link">
                                                    <span class="badge bg-primary fs-6"><i class="fa-sharp fa-circle-info fa-xs me-1"></i></span>
                                                    <span class="visually-hidden">Finalizada</span>
                                                </button>
                                                break;
                                        }
                                    </td>
                                    <td class="text-center">
                                        <button type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Mostrar mas informacion" data-id="@s.Id"
                                            class="btn btn-info">
                                            <i class="fa-sharp fa-circle-info fa-lg"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
<!-- Modal core base-->
<div class="modal fade" id="coreModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
</div>
@section CSS {
    <link href="~/lib/datatables/jquery.datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    @*<link href="~/Content/css/Datatables/select.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/Datatables/buttons.dataTables.min.css" rel="stylesheet" />*@
}
@section Scripts {
    <script src="~/lib/datatables/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables/moment.min.js"></script>
    <script src="~/lib/datatables/datetime-moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/lib/datatables/moment-timezone-with-data.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>
    @*<script src="~/Content/js/Datatable/dataTables.select.min.js"></script>
    <script src="~/Content/js/Datatable/dataTables.buttons.min.js"></script>*@
    <script src="~/js/solicitudes.js"></script>
    <script src="~/js/filtersolicitudes.js"></script>
}