@using ProyectoSolveCore.Models.ViewModels
@model vmVehiculoKm
@{
    ViewBag.Title = "Agregar Nuevo Vehículo";
}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Agregar nuevo vehículo</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Agenda">Agenda general</a></li>
                <li class="breadcrumb-item"><a asp-action="VisualizarVehiculos">Visualizar vehículo</a></li>
                <li class="breadcrumb-item active">Agregar nuevo vehículo</li>
            </ol>
            <form asp-action="AgregarVehiculo" method="post">
                <div class="card">
                    <div class="card-body row fw-bold">
                        <div class="col col-lg-6">
                            <div class="row g-2">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="Eliminado" />
                                <input type="hidden" asp-for="DireccionImg" />
                                <input id="inputCheck" type="hidden" asp-for="Estado" />
                                <div class="col-md-2">
                                    <label for="inputPatente" class="form-label">Patente</label>
                                    <input type="text" name="Patente" class="form-control" id="inputPatente" value="@Model.Patente"
                                    placeholder="AA-0000">
                                </div>
                                <div class="col-md-2">
                                    <label for="inputPatente" class="form-label">Año</label>
                                    <input type="text" name="Year" class="form-control" id="inputYear" value="@Model.Year">
                                </div>
                                <div class="col-md-4">
                                    <label for="inputMarca" class="form-label">Marca</label>
                                    <input type="text" name="Marca" class="form-control" value="@Model.Marca" id="inputMarca">
                                </div>
                                <div class="col-md-4">
                                    <label for="inputModelo" class="form-label">Modelo</label>
                                    <input type="text" name="Modelo" class="form-control" id="inputModelo" value="@Model.Modelo">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputKm" class="form-label">Kilometraje actual</label>
                                    <input id="inputKm" type="number" class="form-control" name="KilometrajeInicial"
                                           value="@Model.KilometrajeInicial" />
                                </div>
                                <div class="col col-md-6">
                                    <label for="inputCategoria" class="form-label">Periodos de mantenimiento</label>
                                    <div class="input-group">
                                        <select id="inputPeriodo" class="form-select" asp-for="IdPeriodoKilometraje" asp-items="ViewBag.IdPeriodoKilometraje">
                                        </select>
                                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li>
                                                <a id="btn_newPeriodo"
                                                   class="dropdown-item" href="#">Agregar nuevo periodo</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col col-md-6">
                                    <label for="inputCategoria" class="form-label">Categoria</label>
                                    <div class="input-group">
                                        <select id="inputCategoria" class="form-select" asp-for="IdCategoria" asp-items="ViewBag.IdCategoria">
                                        </select>
                                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li>
                                                <a id="btn_newCategoria"
                                                   class="dropdown-item" href="#">Agregar nuevo categoría</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col col-md-6">
                                    <label for="inputConductor" class="form-label">Asignar conductor</label>
                                    <select id="inputConductor" class="form-select" asp-for="IdConductor" asp-items="ViewBag.IdConductor">
                                        <option value="">Sin asignar conductor</option>
                                    </select>
                                </div>
                                @*<div class="col-md-6">
                                <label for="formFile" class="form-label">Subir imagen</label>
                                <input class="form-control" type="file" id="formFile">
                                </div>*@
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Agregar vehiculo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
@section Scripts{
    <script src="~/js/agregarvehiculo.js"></script>
}