@model ProyectoSolveCore.Models.ViewModels.vmBitacora
@using Microsoft.Extensions.Caching.Memory
@using System.Globalization
@inject IMemoryCache Cache

@{
    ViewBag.Title = "Agregar entrada a la bitácora";
    //SE OBTIENE EL VALOR GUARDADO EN EL CACHE
    if (!Cache.TryGetValue("NumeroSolicitudes", out int count))
    {
        count = 1;
    }
}
<partial name="_NavMenu" />
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Agregar entrada a la bitácora</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Agenda">Agenda general</a></li>
                <li class="breadcrumb-item"><a asp-action="VisualizarBitacora">Visualizar bitácora</a></li>
                <li class="breadcrumb-item active">Agregar entrada a la bitácora</li>
            </ol>
            <form id="form_AgregarBitacora" asp-action="AgregarEntradasBitacora" method="post">
                <div class="card">
                    <div class="card-body row fw-bold">
                        @if (ViewBag.Mensaje != null){
                            <div class="alert alert-danger" role="alert">
                                Error: @ViewBag.Mensaje
                            </div>
                        }
                        <div class="col col-lg-6">
                            <div class="row g-2">
                                <h4>Información solicitud</h4>
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="IdConductor" />
                                <input type="hidden" asp-for="IdSolicitud" />
                                <input type="hidden" asp-for="IdVehiculo" />
                                <input type="hidden" asp-for="Folio" />
                                <div class="col col-lg-4 col-sm-12">
                                    <label for="inputFecha" class="form-label">Fecha</label>
                                    <input type="text" class="form-control" id="inputFecha"
                                           value="@DateTime.Now.ToString("dd-MM-yyyy HH:mm:ss", new CultureInfo("es-CL"))" disabled>
                                </div>
                                <div class="col col-lg-4 col-sm-12">
                                    <label for="inputFechaLlegada" class="form-label">Fecha de salida</label>
                                    <input type="text" class="form-control" id="inputFechaLlegada"
                                           value="@Model.FechaSalida" disabled>
                                </div>
                                <div class="col col-lg-4 col-sm-12">
                                    <label for="inputFechaLlegada" class="form-label">Fecha de llegada</label>
                                    <input type="text" class="form-control" id="inputFechaLlegada"
                                           value="@Model.FechaLlegada" disabled>
                                </div>
                                <div class="col col-lg-6 col-sm-12">
                                    <label for="inputConductor" class="form-label">Conductor</label>
                                    <input type="text" class="form-control" id="inputConductor"
                                           value="@Model.NombreCompletoConductor" disabled>
                                </div>
                                <div class="col col-md-6">
                                    <label for="inputVehiculo" class="form-label">Vehículo</label>
                                    <input type="text" class="form-control" id="inputVehiculo"
                                           value="@Model.Vehiculo" disabled>
                                </div>
                                <div class="col col-md-4">
                                    <label for="inputDestino" class="form-label">Destino</label>
                                    <input type="text" class="form-control" id="inputDestino"
                                           value="@Model.Destino" disabled>
                                </div>
                                <div class="col col-md-8">
                                    <label for="inputMotivo" class="form-label">Motivo</label>
                                    <input type="text" class="form-control" id="inputMotivo"
                                           value="@Model.Motivo" disabled>
                                </div>
                                <hr />
                                <h4 class="mt-2">Información de la bitácora</h4>
                                <div class="col-md-6">
                                    <label for="inputKmI" class="form-label">Kilometraje inicial</label>
                                    <input id="inputKmI" type="number" class="form-control" name="KmInicialEntero"
                                           value="@Model.KmInicialEntero" />
                                </div>
                                <div class="col-md-6">
                                    <label for="inputKmF" class="form-label">Kilometraje final</label>
                                    <input id="inputKmF" type="number" class="form-control" name="KmFinalEntero"
                                               value="@Model.KmFinalEntero" />
                                </div>
                                <div class="col col-md-6">
                                    <label for="inputCombustible" class="form-label">Litros Combustible</label>
                                    <input type="number" name="Combustible" class="form-control" id="inputCombustible">
                                </div>
                                <div class="col col-md-6">
                                    <label for="inputObservacion" class="form-label">Observaciones</label>
                                    <input type="text" name="Observacion" class="form-control" 
                                        id="inputObservacion" value="@Model.Observacion">
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="d-flex flex-row mb-2">
                                        @if (count > 1)
                                        {
                                            <button type="submit" class="btn btn-primary">
                                                Agregar y cargar otra solicitud
                                                <span class="badge text-bg-secondary">@(count-1)</span>
                                            </button>
                                        }
                                        @if (count == 1)
                                        {
                                            <button id="btn_addBitacora" type="button" class="btn btn-primary ms-1">Agregar entrada</button>
                                        }else{
                                            <button id="btn_addBitacora" type="button" class="btn btn-primary ms-1">Agregar solo esta entrada</button>
                                        }
                                        <a role="button" class="ms-1 btn btn-secondary" asp-action="VisualizarBitacora">Volver a la bitácora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>

@section Scripts{
    <script src="~/js/agregarbitacora.js"></script>
}
